# INTRODUCTION

# BUSINESS PROBLEM

# IMPORTS

In [24]:
# core operational packeges
import os
import warnings
# data manupulation
import pandas as pd
pd.set_option('display.max_columns',0)
import numpy as np

# plotting
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.graph_objs as go
import plotly.express as px

In [56]:
from sklearn.model_selection import train_test_split

In [52]:
# custom functions loader
%load_ext autoreload
%autoreload 2
import functions as fun

# notebook styling packages
from jupyterthemes import jtplot
jtplot.style(theme='monokai', context='notebook', ticks='True', grid='False')
## to reset to default theme
# jtplot.reset()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# OBTAIN

# SCRUB & EXPLORE

In [26]:
# loading data
df = pd.read_csv('./data/garments_worker_productivity.csv')

In [27]:
df.head()

       date   quarter  ... no_of_workers actual_productivity
0  1/1/2015  Quarter1  ...          59.0            0.940725
1  1/1/2015  Quarter1  ...           8.0            0.886500
2  1/1/2015  Quarter1  ...          30.5            0.800570
3  1/1/2015  Quarter1  ...          30.5            0.800570
4  1/1/2015  Quarter1  ...          56.0            0.800382

[5 rows x 15 columns]

In [28]:
df.dtypes

date                      object
quarter                   object
department                object
day                       object
team                       int64
targeted_productivity    float64
smv                      float64
wip                      float64
over_time                  int64
incentive                  int64
idle_time                float64
idle_men                   int64
no_of_style_change         int64
no_of_workers            float64
actual_productivity      float64
dtype: object

In [29]:
fun.check_NaN(df)

                     name  is_null  not_null
0                    date        0      1197
1                 quarter        0      1197
2              department        0      1197
3                     day        0      1197
4                    team        0      1197
5   targeted_productivity        0      1197
6                     smv        0      1197
7                     wip      506       691
8               over_time        0      1197
9               incentive        0      1197
10              idle_time        0      1197
11               idle_men        0      1197
12     no_of_style_change        0      1197
13          no_of_workers        0      1197
14    actual_productivity        0      1197

In [30]:
fun.check_duplicates(df, verbose=False)

                     name  duplicated  not_duplicated
0                    date        1138              59
1                 quarter        1192               5
2              department        1194               3
3                     day        1191               6
4                    team        1185              12
5   targeted_productivity        1188               9
6                     smv        1127              70
7                     wip         648             549
8               over_time        1054             143
9               incentive        1149              48
10              idle_time        1185              12
11               idle_men        1187              10
12     no_of_style_change        1194               3
13          no_of_workers        1136              61
14    actual_productivity         318             879

In [31]:
df.describe().transpose().style.format("{0:,.0f}")

In [55]:
# fun.df_distribution(df)

target

In [33]:
# empty list to hold data
lst = []
for x in zip(df.targeted_productivity, df.actual_productivity):
    # % change in variables
    delta = np.log(x[1] / x[0])
    if delta < 0:
        lst.append('below')
    elif 0 <= delta < .25:
        lst.append('met')
    elif delta >= .25:
        lst.append('above')
    # error hadeler
    else:
        lst.append('?')
df['goal'] = lst

wip

In [34]:
# filling NaN's with 0, meaning no wip for that session
df['wip'] = df['wip'].fillna(0)
# intervals for binning
bins = pd.IntervalIndex.from_tuples([(0, 1), (1, 150), (150, 500), (500, 2500),
                                     (2500, 1e6)],
                                    closed='left')
# binning
wip_size = pd.cut(df['wip'].tolist(), bins=bins)
# naming categories
wip_size.categories = ['no_wip', 'small', 'med', 'large', 'xl']
# appending to df
df['wip_size'] = wip_size

text cleaning

In [35]:
# cleaning spaces
df['department'] = df['department'].str.strip()
# checking
df['department'].value_counts()

sweing       691
finishing    506
Name: department, dtype: int64

drop

In [36]:
df.drop(columns=['date', 'wip', 'actual_productivity'], inplace=True)

split

In [46]:
X = df.drop(columns='goal').copy()
y = df[['goal']]

X_train, y_train, X_test, y_test = train_test_split(X,y,test_size=.25)

In [ ]:
# OHE
# Scaling
# Pipelineing
# dummy model
# logistic regression
# grid search CV
# ensamble methods
# SVM

MODEL
INTERPRET
RECOMMENDATION